<h1>About</h1>

<div>
                <h3 style="color:#ffffff">Our Mission</h3>
                <br>
                <p style="color:#ffffff"><strong>Our mission is to promote the sustainable development of rural Indian communities. <br>In partnership with local community members and social enterprises, we identify issues central to our target communities and provide the resource to implement solutions through extensive field research and on-campus initiatives.</strong></p>
                <br>
                <h3 style="color:#ffffff">About Us</h3>
                <br>
                <p style="color:#ffffff">We are a diverse group of passtionate and energetic individuals moving forward the dialogue on equity and resilience through our projects. We operate on a university model where undergraduate chapters partner with villages in need and a single National team serves to empower these chapters with the resources and guidance. Finally, our donors who believe in our mission allow us to make our projects a reality.</p>
                <br>
                <br>
            </div>