<div id="auth"><h1>Sign in with Google</h1>
<h2>RISHI would like to get permission to your Google account</h2>
<form>
  <input class="auth" id="authen" type="button" value="Authorize" onclick="window.location.href='/auth/google_oauth2'" />
  <input class="auth" type="button" value="Cancel" onclick="window.location.href='home/back'" />
</form>
</div>