<div class='travelpane'>
    <div class='panetitle'>Travel</div>
    <div class='bigpic'>
	    <img src='/assets/travel.png'>
    </div>

    <div class='contentHolder'>
        <p class='introduction'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor pulvinar felis sit amet pretium. Proin lobortis, nisi in lacinia porttitor, velit felis tempor magna, et imperdiet lacus sapien eget justo. Sed at varius elit. Donec eu arcu a lorem cursus pretium. Nunc gravida enim et massa condimentum maximus. In sapien nunc, lacinia eget orci vitae, condimentum rutrum ex. Duis id ex dignissim, tempus nisl at, posuere turpis. Pellentesque tempor, turpis ac sagittis ornare, erat lorem eleifend ante, vitae blandit massa nulla ac nibh. Suspendisse nec luctus felis. Vestibulum dignissim dolor ut lacus volutpat lacinia. Maecenas vestibulum leo ex, eu consequat lectus efficitur et.</p>
        <p>Curabitur tincidunt maximus velit, sit amet maximus est accumsan sed. Etiam nec ante a dolor fermentum auctor ut eu justo. Maecenas convallis ornare metus eu consectetur. Sed maximus orci ut ligula convallis, id ornare orci volutpat. Nam semper, elit ac varius venenatis, lacus lacus elementum velit, vitae consequat leo mauris a urna. Cras ut ex commodo, pharetra massa vel, tristique diam. Mauris sed nisi ut turpis vulputate interdum. Suspendisse orci eros, vehicula id dignissim id, elementum malesuada augue. Pellentesque consequat quis nisl ornare malesuada. Etiam ac urna ut mauris tempus volutpat et ut odio. Integer porta, sapien sed pretium bibendum, nunc erat blandit turpis, vel rhoncus dui eros et enim.</p>
        <p>Praesent sapien risus, tempus quis sollicitudin eu, tempus non augue. Sed diam neque, vehicula eu finibus ac, tempor eu ante. Quisque semper urna sit amet lacus sagittis gravida. Nam tincidunt sollicitudin porttitor. Donec malesuada tortor ac massa scelerisque, sed porttitor lectus venenatis. Mauris fermentum tellus vitae mi vulputate, eu mollis turpis auctor. Aliquam suscipit semper libero, a porttitor ex ornare ac. Mauris felis nibh, laoreet at diam mollis, viverra aliquam enim. Donec vehicula tempor fringilla.</p>
    </div>
</div>