<% @committees.each do |committee| %>
    <div class=cmt>
        <div class="picture"><img src=<%= image_path(committee.intro_img) %>></img></div>
        <div class="cmt_name"><%= link_to committee.name, committee_path(committee) %></div>
        <hr>
        <div class="introduction">
            <p><%= committee.intro %></p>
        </div>
    </div>
<% end %>