// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a:link,a:visited {
    text-decoration: none;
    color: grey;
}

li{
    font-size: 120%;
    list-style: none;
}

.wardsLst{
    clear:right;
    float:left;
}

.map_block{
    float:left;
}

#auth{
    padding-top:0px;
    padding-left:20px;
}
.auth{
    color: white;
    font-size: 95%;
    border: none;
    cursor: pointer;
    outline-color: white;
    padding:10px;
}
#authen{
    background-color:#49DC4B;
    
}