// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a:link,a:visited {
    text-decoration: none;
    color: grey;
}

li{
    font-size: 150%;
    list-style: none;
    float: right;
    padding:10px;
}